<div class="row">
  <div class="col-md-6">
    <p>Hello <%= @user.name %></p>
    <p><%= @user.email %></p>
    <p><a href="/">update account information</a></p>
  </div>
  <div class="col-md-6">
    <p>Capsules awaiting launch: <%= @capsules.count %></p>
  </div>
</div>

<div class="row">
<% @capsules.each do |capsule| %>
  <div class="col-md-4">
    <a href="/capsules/<%= capsule.id %>"><img src="http://3.bp.blogspot.com/_xOG3auSjUPY/TBFaFQXG1gI/AAAAAAAAF-Y/3Fh0fZ97_TU/s320/tardis+icon+4.PNG">></a>
    <%= capsule.created_at %>
  </div>
<% end %>
</div>